@import '../../utils/constants.scss';

.container {
  display: flex;
  gap: toRem(10px);
  flex-direction: column;
  width: 100%;

  .deleteButton {
    @include defaultButton($red, $red, $darkRed);
    color: white;
    width: fit-content;

    &_disabled {
      @include defaultButton($lightGray, $lightGray, $mediumGray);
      color: $black;
      background: $lightGray;
      cursor: not-allowed;
    }
  }
}

.table {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  border: 1px solid $black;

  display: block;

  &__header {
    width: 100%;
    display: flex;
  }

  &__body {
    display: block;
  }

  &__th {
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__tr {
    width: 100%;
    display: flex;
    padding: toRem(10px);
    min-height: toRem(30px);
    outline: 0.5px solid $black;
    gap: toRem(10px);

    &_selected {
      background: $lightBlue;
    }

    &_forSpinner {
      display: flex;
      justify-content: center;
    }
  }

  &__footer {
    display: flex;
    width: 100%;

    &_hidden {
      opacity: 0;
    }
  }

  &__last {
    height: toRem(1px);
  }

  &__error {
    @include center;
  }

  &__actions {
    width: toRem(100px);
    margin-left: auto;
  }
}

.checkbox {
  max-width: toRem(50px);
  width: 10%;
  cursor: pointer;
}
