@import '../../utils/constants.scss';

.label {
  display: flex;
  flex-direction: column;
  gap: toRem(10px);
}

.input {
  height: toRem(30px);
  padding: 0 toRem(5px);
  text-overflow: ellipsis;
  white-space: nowrap;

  &_error {
    border: 1px solid $red;
  }
}
