//colors
$lightBlue: rgba(81, 183, 230, 0.25);
$gray: #808080;
$black: #000000;

@mixin cleanButton {
  border: none;
  background: transparent;
  cursor: pointer;
}

@function toRem($size) {
  @return calc($size / 16px * 1rem);
}
