//colors
$darkBlue: #1a9edb40;
$meduimBlue: #2d9fd440;
$lightBlue: #51b7e640;
$gray: #808080;
$mediumGray: #d5d3d3e1;
$lightGray: #d5d3d3;
$black: #000000;
$red: #ff0000;
$darkRed: #ff0000df;

@mixin cleanButton {
  border: none;
  background: transparent;
  cursor: pointer;
}

@mixin defaultButton($borderColor, $background, $backgroundOnHover) {
  cursor: pointer;
  border: 1px solid $borderColor;
  border-radius: toRem(10px);
  padding: toRem(5px);
  background: $background;

  &:hover {
    background: $backgroundOnHover;
  }

  &:active {
    &:not([disabled]) {
      transform: scale(1.05);
    }
  }
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@function toRem($size) {
  @return calc($size / 16px * 1rem);
}
